
{{ template "header" . }}
<link href="/static/css/login.css" rel="stylesheet">
<script src="/static/js/login.js"></script>
<body scroll="no" style="overflow-x:hidden;overflow-y:hidden">
	<div id="container" class="row lyear-wrapper">
		<div class="lyear-login">
			<div id="bg">
				<div id="anitOut"></div>
			</div>
			<div class="login-center form__content">
				<div class="login-header text-center">
					<a href="{{ .CurrentURL }}"> <h1> {{ SiteName }} </h1> </a>
				</div>
				<form id="LoginForm" method="post">
					<div class="form-group has-feedback feedback-left">
						<input type="text" placeholder="请输入您的用户名" class="form-control" name="username" id="username" />
						<span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="form-group has-feedback feedback-left">
						<input type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
						<span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="form-group has-feedback feedback-left">
						<label class="lyear-checkbox checkbox-primary pull-left m-b-10">
						<input type="checkbox" name="rememberpass">
							<span>记住7天</span>
						</label>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-block btn-primary" id="login_key_enter" >进入后台</button>
					</div>
				</form>
				<footer class="col-sm-12 text-center">
					<p class="m-b-0">&copy; <span id="year"></span>&nbsp;{{ SiteName }}</p>
					<p class="copyright m-b-0" style="text-align: center;"><a href="https://www.qingh.xyz" target="_blank">清和博客</a>&nbsp;&nbsp;<a href="/">下载APK</a></p>
				</footer>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	// 消息提示示例
	$('#login_key_enter').on('click', function(e){
		lightyear.loading('show');
		e.preventDefault(); // 阻止默认表单提交

			var data = {
				username: $("#username").val(),
				password: $("#password").val(),
				rememberpass: $("input[name='rememberpass']").is(":checked") ? "on" : ""
			};

			$.ajax({
				type: "POST",
				url: "{{ .CurrentURL }}",   // 后台接口
				data: data,
				success: function(resp) {
					if (resp.code == 1) {
						// 登录成功，跳转后台首页
						window.location.href = "/admin/";
					} else {
						// 登录失败，显示错误信息
						lightyear.loading('hide'); // 关闭加载动画
						lightyear.notify(
							resp.msg,
							'warning',
							3000,
							'mdi mdi-emoticon-happy',
							'top',
							'center'
						);
					}
				},
				error: function() {
					lightyear.loading('hide'); // 关闭加载动画
					lightyear.notify(
						resp.message,
						'稍后再试',
						3000,
						'mdi mdi-emoticon-happy',
						'top',
						'center'
					);
			}
			});

	    
	});
    document.getElementById("year").textContent = new Date().getFullYear();
	</script>
</body>
