{{ template "header" . }}
{{ template "admin_header" . }}
<main class="lyear-layout-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header"><h4>点播管理</h4></div>
					<div class="tab-content">
						<div class="tab-pane active">
							<div class="form-group">
								<div class="table-responsive" >
									<table class="table table-hover table-vcenter">
										<tr>
											<td colspan="5">
													<button class="btn btn-default btn-info movies-add-btn" type="button" data-toggle="modal" name="addmovie" data-target="#editmovie">新增接口</button>
											</td>
										</tr>
										<tr align="center">
											<td class="w-5">资源库</td>
											<td class="w-5">资源名称</td>
											<td class="w-5">状态</td>
											<td class="w-5">接口地址</td>
											<td class="w-10">操作</td>
										</tr>
										<tbody style="font-size:12px;font-weight: bold;">
										{{ if gt (len .Movies) 0 }}
										{{range .Movies}}
                                        <tr>
                                            <td class="movie-id" align="center" style="font-size:12px;height:35px;font-weight: bold;" data-value="{{.ID}}">{{.ID}}</td>
                                            <td class="movie-name" align="center" style="font-size:12px;font-weight: bold;" data-value="{{.Name}}">{{.Name}}</td>
                                            <td align="center" style="font-size:12px;font-weight: bold;">{{if eq .State 1 }}<font color="#33a996">上线</font>{{else}}<font color="red">下线</font>{{end}}</td>
                                            <td class="movie-api" align="center" style="font-size:12px;font-weight: bold;" data-value="{{.Api}}">{{.Api}}</td>
                                            <td>
                                                <button type="button" onclick="tdBtnPOST(this)" name="change_status" value="{{.ID}}" class="btn btn-xs {{if eq .State 1 }}btn-warning">下线{{else}}btn-success">上线{{end}}</button>
                                                <button class="btn btn-xs btn-info" type="button" name="editmovie" value="{{.ID}}" data-toggle="modal" onclick="moviesGet(this)" data-target="#editmovie">编辑</button>
                                                <button class="btn btn-xs btn-danger" type="button" onclick="tdBtnPOST(this)" name="delmovie" value="{{.ID}}">删除</button>
                                            </td>
                                        </tr>
										{{end}}
										{{else}}
											<tr>
												<td colspan="5" align="center" style="font-size:14px;color:red;height:35px;font-weight: bold;">当前未有点播数据</td>
											</tr>
										{{end}}
										</tbody>
									</table>
									<div class="modal fade" id="editmovie" tabindex="-1" role="dialog">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title"></h4>
												</div>
												<form method="post">
													<div class="modal-body">
                                                        <div class="form-group">
                                                            <input type="hidden" name="movieId" id="movieId" value="">
                                                            <label class="control-label">接口名称：</label>
                                                            <input class="form-control" type="text" name="movieName" id="movieName" value="" placeholder="接口地址啦...比如EZ视屏网">
                                                            <label class="control-label">接口地址：</label>
                                                            <input class="form-control" type="text" name="movieApi" id="movieApi" value="" placeholder="http://..cms">
                                                        </div>
													</div>
													<div class="modal-footer">
														<button type="button" onclick="submitFormPOST(this)" class="btn btn-primary" id="submitmovie" name="submitmovie">确定</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{ template "admin_footer" . }}