{{ template "header" . }}
{{ template "admin_header" . }}
<main class="lyear-layout-content">
	<div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-primary">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">客户端总数</p>
                  <p class="h3 text-white m-b-0">{{ .UserTotal }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-purple">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">今日上线</p>
                  <p class="h3 text-white m-b-0">{{ .UserToday }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-play-protected-content fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-cyan">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">频道分类数量</p>
                  <p class="h3 text-white m-b-0">{{ .ChannelTypeCount }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-television-guide fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-info">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">套餐数量</p>
                  <p class="h3 text-white m-b-0">{{ .MealsCount }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-shopping-music fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-warning">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">EPG数量</p>
                  <p class="h3 text-white m-b-0">{{ .EpgCount }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-television-guide fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
        
          <div class="col-sm-6 col-lg-4">
            <div class="card bg-brown">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">频道总数量</p>
                  <p class="h3 text-white m-b-0">{{ .ChannelCount }}</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-television-classic fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
			<div class="card">
				<div class="card-body">
					<div class="card-header"><h4>频道分类统计</h4></div>
                	<div class="table-responsive">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>#</th>
								<th>频道分类</th>
								<th>订阅源频道数量</th>
								<th>分类频道数量(去重后)</th>
							</tr>
							</thead>
							<tbody>
								{{ range .ChannelTypeList }}
                                <tr>
                                    <td>{{.Num}}</td>
                                    <td>{{.Name}}</td>
					                {{ if .ShowRawCount }}
					                    <td>{{.RawCount}}</td>
					                {{ else }}
					                    <td>-</td> <!-- 为空单元格保持列结构 -->
					                {{ end }}
                                    <td>{{.ChannelCount}}</td>
                                </tr>
                                {{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </div>
	</div>
</main>
{{ template "admin_footer" . }}
