{{ template "header" . }}
{{ template "admin_header" . }}

<main class="lyear-layout-content">
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>修改管理员信息</h4></div>
                    <div class="card-body">
                        <form method="post">
                            <div class="example-box">
                            <label class="btn-block">用户名</label>
                                <input class="form-control" type="text" name="username" value="admin" size="80"><br>
                            <label class="btn-block">旧密码</label>
                                <input class="form-control" type="password" name="oldpassword" value="" size="80"><br>
                            <label class="btn-block">新密码</label>
                                <input class="form-control" type="password" name="newpassword" value="" size="80"><br>
                            <label class="btn-block">确认新密码</label>
                                <input class="form-control" type="password" name="newpassword_2" value="" size="80"><br>
                            </div>
                            <button class="btn btn-label btn-primary" type="button" onclick="submitFormPOST(this)" name="submit" value=""><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label>修改信息</button>
                        </form>
                        <small class="help-block">提示：密码为空保留原密码。</small>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>

{{ template "admin_footer" . }}