
{{ template "header" . }}
<!-- <link href="/static/css/login.css" rel="stylesheet"> -->
<script src="/static/js/login.js"></script>
<body scroll="no" style="overflow-x:hidden;overflow-y:hidden">
	<div id="container" class="row lyear-wrapper">
		<div class="lyear-login">
			<div id="bg">
				<div id="anitOut"></div>
			</div>
			<div class="login-center form__content">
				<div class="login-header text-center">
					<a href="/install"> <h1>系统安装</h1> </a>
				</div>
				<form id="LoginForm" method="post">
					<div class="form-group has-feedback feedback-left">
						<input type="text" placeholder="请APK接口地址" class="form-control" name="apk_api" id="apk_api" />
						<span class="mdi mdi-server form-control-feedback" aria-hidden="true"></span>
					</div>
                    <div class="form-group has-feedback feedback-left">
						<input type="text" placeholder="请输入您的用户名" class="form-control" name="username" id="username" />
						<span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="form-group has-feedback feedback-left">
						<input type="password" placeholder="请输入密码" class="form-control" id="password" name="password" />
						<span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-block btn-primary" id="login_key_enter" >安装</button>
					</div>
				</form>
				<hr>
				<footer class="col-sm-12 text-center">
					<p class="m-b-0">&copy; <span id="year"></span> {{ SiteName }}</p>
				</footer>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	// 消息提示示例
	$('#login_key_enter').on('click', function(e){
		lightyear.loading('show');
		e.preventDefault(); // 阻止默认表单提交

			var data = {
				username: $("#username").val(),
				password: $("#password").val(),
				apkapi: $("#apk_api").val(),
			};

			$.ajax({
				type: "POST",
				url: "/install",   // 后台接口
				data: data,
				success: function(resp) {
					if (resp.code == 1) {
						// 登录成功，跳转后台首页
						window.location.href = "/install";
					} else {
						// 登录失败，显示错误信息
						lightyear.loading('hide'); // 关闭加载动画
						lightyear.notify(resp.msg, resp.type, 10000);
					}
				},
				error: function(resp) {
					lightyear.loading('hide'); // 关闭加载动画
					lightyear.notify(resp.msg, resp.type, 10000);
			}
			});

	    
	});
    document.getElementById("year").textContent = new Date().getFullYear();
    document.addEventListener("DOMContentLoaded", function() {
            var apkInput = document.getElementById("apk_api");
            apkInput.value = window.location.origin; // 自动填充协议 + 域名 + 端口
        });
	</script>
</body>
